body {
	background-color: black;
}

#main {
	height: 100px;
	width: 100%;
}

.block {
	width: 24%;
	height: 100px;
	background-color: #555555;
	float: left;
	opacity: .5;
	transition: all 0.3s ease;
}

.divider {
	width: 1%;
	height: 100px;
	background-color: #AAAAAA;
	float: left;
}

.block:hover {
	opacity: 1;
}