@font-face {
	font-family: Raleway; 
	src: url('Raleway-Light.otf');
}

body {
	background-color: black;
	margin: 0 0 0 0;
}

#main {
	height: 300px;
	width: 100%;
}

.block {
	width: 24%;
	height: 100%;
	background-color: #555555;
	float: left;
	opacity: .5;
	transition: all 0.3s ease;
}

.divider {
	width: .8%;
	height: 100%;
	background-color: #f1f2f2;
	float: left;
}

.block:hover {
	opacity: 1;
}

.underline {
	width: 100%;
	height: 15px;
	clear: both;
	background-color: #f1f2f2;
}

p {
	color: #f1f2f2;
	font-size: 3em;
	text-align: center;
	font-family: Raleway, sans-serif;
}

body > p {
	color: #f1f2f2;
	font-size: 7em;
	text-align: center;
	font-family: Raleway;
	margin-top: 300px;
	opacity: .75;
	transition: all .5s ease;
}

body > p:hover {
	opacity: 1;
}