@font-face {
	font-family: Raleway; 
	src: url('Raleway-Light.otf');
}

body {
	background-color: #32313B;
	margin: 0 0 0 0;
}

#main {
	height: 300px;
	width: 100%;
}

.block {
	width: 24%;
	height: 100%;
	background-color: #39B1C6;
	float: left;
	opacity: 1;
	transition: all 0.3s ease;
}

.divider {
	width: .8%;
	height: 100%;
	background-color: #f1f2f2;
	float: left;
}

.block:hover {
	opacity: .5;
}

.underline {
	width: 100%;
	height: 300px; 		/* 15px makes this equal to the other borders */
	clear: both;
	background-color: #f1f2f2;
}

p {
	color: #f1f2f2;
	font-size: 3em;
	text-align: center;
	font-family: Raleway, sans-serif;
}

#logo {
	position: absolute;
	height: 1000px;
	width: 1000px;
	margin-top: -270px;
	margin-left: 23.6%;
	background-color: #25242C;
	border-radius: 100%;
	z-index: 999;
}

.main {
	color: #EC3F8C;
	font-size: 7em;
	text-align: center;
	font-family: Raleway;
	margin-top: 400px;
	opacity: 1;
	transition: all .5s ease;
}

.main:hover {
	opacity: .75;
}

